<div class="home">
    <div class="locations">
        <ng-container *ngFor="let item of data">
            <mat-card>
                <mat-card-title-group>
                    <mat-card-title>
                        {{ item.location.name }}
                    </mat-card-title>
                    <mat-card-subtitle *ngIf="item.location.subtitle">
                        {{ item.location.subtitle }}
                    </mat-card-subtitle>
                </mat-card-title-group>

                <mat-card-content *ngIf="item.weather != null" class="card-content">
                    <p class="mat-h2"> {{ item.weather.airTemperature }}ºC </p>

                    <button mat-icon-button (click)="removeLocation(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-content>

                <mat-card-content *ngIf="item.weather == null && item.isLoading" class="justify-center">
                    <mat-progress-spinner
                        color="primary"
                        mode="indeterminate"
                        diameter="20"
                    >
                    </mat-progress-spinner>
                </mat-card-content>

                <mat-card-content *ngIf="item.weather == null && !item.isLoading" class="justify-center">
                    <p class="mat-h2">
                        Erro ao buscar temperatura
                    </p>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>
</div>

<a 
    mat-fab 
    color="warn" 
    class="fab"
    routerLink="/add-location"
>
    <mat-icon>add</mat-icon>
</a>